@import 'sass-rem';

.page-not-found {
	position: fixed;
	top: 30%;
	left: 25%;
	background-color: #FFF;
	width: 50%;

	&--page-not-found-body {
		padding-top: rem(5px);
		padding-bottom: rem(70px);
		text-align: center;
		color: #FFF;

		&--404 {
			font-size: rem(50px);
			color: #B43333;
		}

		p {
			font-size: rem(20px);
		}

		h6 {
			font-size: rem(13px);
		}

		a {
			color: #B43333;
		}

		span {
			cursor: pointer;
			color: #B43333;
		}
	}
}
