@import 'sass-rem';
@import '../../assets/variables';

.home-page {
	display: flex;
	justify-content: space-between;
	padding: rem(7px) rem(30px) rem(5px) rem(30px);

	&__side-bar {
		width: 19%;
		height: rem(650px);
		// border: 0.08rem map-get($palette, card-border) solid;
		border-top-color: transparent;
	}

	&__main-content {
		width: 79%;
		height: auto;
		border-style: none;
	}
}
