$palette: (primary: rgb(230, 36, 78),
secondary: rgb(143, 145, 148),
background: rgb(244, 244, 245),
placeholder: #C8CBCF,
dark: #1F1E1E,
pure: #FFF,
);

$text-colors: (label: #8E9999,
input: #474949,
);
