body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor {
  cursor: pointer;
}

.speech-bubble-right {
  width: 0;
  height: 0;
  border-top: rem(5px) solid transparent;
  border-bottom: rem(5px) solid transparent;

  border-left: rem(5px) solid rgb(230, 36, 78);
}

.speech-bubble-left {
  width: 0;
  height: 0;
  margin-right: rem(5px);
  border-top: rem(5px) solid transparent;

  border-right: rem(5px) solid rgb(230, 36, 78);
  border-bottom: rem(5px) solid transparent;
}

.speech-bubble-up {
  width: 0;
  height: 0;
  margin-bottom: rem(5px);
  border-right: rem(5px) solid transparent;

  border-bottom: rem(5px) solid rgb(230, 36, 78);
  border-left: rem(5px) solid transparent;
}

.speech-bubble-down {
  width: 0;
  height: 0;
  margin-top: rem(5px);

  border-top: rem(5px) solid rgb(230, 36, 78);
  border-right: rem(5px) solid transparent;
  border-left: rem(5px) solid transparent;
}
